@{
    Layout = "~/Views/Main/Index.cshtml";
}

@{
    ViewData["Title"] = "Delete";
}

<style>
    div.main {
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
    }

    div.main2 {
        width: 700px;
    }
</style>

<div class="main">
    <div class="main2">
        <h3>Na pewno chcesz usunąć tego redaktora?</h3>
    </div>
</div>


