@model TestCreator.Data.Stanowiska

<div>
    <h4>Stanowiska</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.nazwa_stanowiska)*@
            Nazwa stanowiska
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nazwa_stanowiska)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.is_visible)*@
            Widoczność
        </dt>

        <dd>
            @Html.DisplayFor(model => model.is_visible)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edytuj", "Edit", new { id = Model.id_stanowisko }) |
    @Html.ActionLink("Wstecz", "Index")
</p>
