body {
    font-family: 'Open Sans';
    color: #34495e;
    background-color: #dae7f0;
    margin: 0 auto;
    
}

.btn-success {
    background-color: #1abc9c;
    border-color: #1abc9c;
    margin-top: 4rem;
}

    .btn-success:hover {
        background-color: #48c9b0;
        border-color: #48c9b0;
    }
/*#####################################################################################################################*/
/* Typografia */
/*#####################################################################################################################*/
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #5c6166;
    font-weight: 300;
}

h1 {
    font-size: 6rem;
    line-height: 2rem;
}

h2 {
    font-size: 4rem;
    line-height: 6rem;
}

h3 {
    font-size: 2.5rem;
    line-height: 3rem;
}

h4 {
    font-size: 2rem;
    line-height: 3rem;
    color: #a4abb3;
}

.naglowek_czerwony {
    color: #fc4349;
}

a:hover {
    text-decoration: none;
}

.glyphicon {
    color: #6dbcdb;
}
/*#####################################################################################################################*/
/* Menu Górne*/
/*#####################################################################################################################*/
#menu {
    background-color: #2c3e50;
}

.navbar {
    background-color: #2c3e50;
    font-size: 1.7rem;
    color: #ffffff;
    padding-top: 3rem;
    border-color: #2c3e50;
}

.navbar-outer {
    width: 1200px;
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
    margin-left: 5px;
    border: 1px solid transparent;
    line-height: 1rem;
}

    .navbar-inverse .navbar-nav > li > a:hover {
        display: block;
        color: #fc4349;
        border: 1px solid transparent;
        border-color: #fc4349;
        line-height: 1rem;
        border-radius: 4px;
        transition: all 0.7s ease;
    }

.navbar-inverse .navbar-nav > .active > a {
    display: block;
    border-color: #ffffff;
    background-color: #2c3e50;
    border-radius: 4px;
}

    .navbar-inverse .navbar-nav > .active > a:hover {
        color: #fc4349;
        background-color: #2c3e50;
    }
.modal-body {
    padding: 20px;
}

#loginForm {
    margin: 50px;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: auto;
    margin-top: 300px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#loadingDiv {
    position: fixed;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-color: #666;
    opacity: 0.9;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10000000;
}

#viewport{
    margin-top: 150px;
}

#userTable{
    height:580px;
}

.userTableRow:hover{
    background-color:#45484b;
    color:white;
}
tr:nth-child(even) {
    background-color: #f3f3f3
}