
<form id="quest_closed">
    <div class="nag"><label>Dodaj pytanie zamknięte</label></div>
    <div class="input"><input style="width: 80%" type="text" class="form-control" /></div>
    <br />
    <br />
    <div class="inner_quest">
        <div class="nag"><label>Wpisz możliwe odpowiedzi:</label></div>
        <div class="odp"><div class="litera"><label>A</label></div><div class="input2"><input class="form-control" /></div></div>
        <div class="odp"><div class="litera"><label>B</label></div><div class="input2"><input class="form-control" /></div></div>
        <div class="odp"><div class="litera"><label>C</label></div><div class="input2"><input class="form-control" /></div></div>
        <div class="odp"><div class="litera"><label>D</label></div><div class="input2"><input class="form-control" /></div></div>
    </div>
    <div class="btn"><input id="AddQuest_Closed_btn" type="submit" class="btn btn-dark" value="Dodaj pytanie" /></div>
</form>

