
<h2>Nazwa testu</h2>
<div class="pytanie">Pytanie pierwsze - otwarte</div>
<div class="pytanie">
    <div>Pytanie drugie - zamknięte</div>
    <div class="odp2">A. Odp. pierwsza</div>
    <div class="odp2">B. Odp. druga</div>
    <div class="odp2">C. Odp. trzecia</div>
    <div class="odp2">D. Odp. czwarta</div>
</div>
